/*---------------------------------------ОСНОВНЫЕ СТИЛИ-----------------------------*/
@font-face {
	font-family: 'LifehackBasic';
	src: url('assets/fonts/LifehackBasic.eot');
	src: local('☺'), url('assets/fonts/LifehackBasic.woff') format('woff'), url('assets/fonts/LifehackBasic.ttf') format('truetype'), url('assets/fonts/LifehackBasic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LifehackSans';
	src: url('assets/fonts/LifehackSans.eot');
	src: local('☺'), url('assets/fonts/LifehackSans.woff') format('woff'), url('assets/fonts/LifehackSans.ttf') format('truetype'), url('assets/fonts/LifehackSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUI';
	src: url('assets/fonts/SegoeUI.eot');
	src: local('☺'), url('assets/fonts/SegoeUI.woff') format('woff'), url('assets/fonts/SegoeUI.ttf') format('truetype'), url('assets/fonts/SegoeUI.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
scroll-behavior: smooth;
}
.transition{
	transition-duration: 0.4s;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
}
.red{
	color: #ff0000;
}
body{
	font-family: 'SegoeUI' , Open Sans, sans-serif;
	width: 100%;
	min-width: 320px;
	margin: 0 auto
}
section, footer, header{
	max-width: 2512px;
	margin: 0 auto;
}
header{
	border-bottom: 1px solid #f1f1f1;
}
.wrapper{
	padding: 0 10px;
	max-width: 2336px;
	margin: 0 auto;

}
/*-------------------------------------------------------*/

/*------------------------------------ВЕРХНЕЕ МЕНЮ---------*/
.top-nav .wrapper {
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.top-menu{
	margin: 30px 0 0;
	display: flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.header-menu{
	margin: -20px 0 0 0;
}
.header-menu > li{
	display: inline-block;
	margin: 0 0 0 40px;
}
.header-menu > li > a{
	font-size: 22px;
	line-height: 48px;
	text-decoration: none;
	color: #7b8f9b;	
}
.header-menu > li > a > img{
	position: relative;
	top: 10px;
}
.header-menu > li > a:hover{
	color: #000000;
	transition-duration: 0.4s;
}
.top-menu form {
	margin: 10px 35px 0;
}
.top-search {
	opacity: 0.3;
	font-size: 24px;
	color: #000000;
	font-weight: 700;
	width: 390px;
	height: 59px;
	border: 1px solid #7b8f9b;
	border-radius: 40px;
	background: url(assets/img/search-bg.png) 330px 15px no-repeat;
	padding: 15px 0 15px 40px;
}
.top-search:focus{
	opacity: 1;
	background: transparent;
}
.top-search:focus::-webkit-input-placeholder {
  	color: transparent
}
.top-search:focus::-moz-placeholder {
  	color: transparent
}
.top-search:focus:-moz-placeholder {
  color: transparent
}
.top-search:focus:-ms-input-placeholder {
  color: transparent
}
.top-search:hover{
	transition-duration: 0.5s;
	cursor: pointer;
  	opacity: 0.6;
}
.country{	
	display: inline-flex;
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    color: #7b8f9b;
}
.country:hover{
	color: #ff0000;
	cursor: pointer;
}
.country:hover > .language{
	border-color: #ff0000;
	color: #ff0000;
}
.geo  i {
	font-size: 40px;
	display: inline-block;
}
.geo span{
	text-align: center;
	display: inline-block;
	margin: 0 15px;
	font-size: 16px;
	font-weight: 700;
}
.language{
	background: #ffffff;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #7b8f9b;
	border-radius: 10px;
	font-weight: 700;
	color: #7b8f9b;
	cursor: pointer;
}
.user-login, .shop-cart {
	width: 35px;
	height: 35px;
}
.user-login{
	margin: 0 25px 0 80px;
}
.user-login:hover{
	transform: scale(1.1);
}
/*--------------------------БУРГЕР МЕНЮ-------------------*/
.nav-icon-5{
  width: 44px;
  height: 40px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  top: 30px;
}
.nav-icon-5 span{
  background-color:#ff0000;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:8px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}
/*--------------------------БОКОВАЯ КНОПКА----------------*/
.side-button{
	-webkit-box-shadow:2px 5px 20px 2px #7b8f9b;
	-moz-box-shadow:2px 5px 20px 2px #7b8f9b;
	box-shadow:2px 5px 20px 2px #7b8f9b;
	position: fixed;
	top: 600px;
	padding: 5px 30px;
	margin-left: -205px;
	font-size: 25px;
	line-height: 45px;
	color: #ffffff;
	font-weight: bold;
	transform: rotate(-90deg);
	text-transform: uppercase;
	background:#e81020;
	text-align: center;
	z-index: 999;
	overflow: auto;
	cursor: pointer;
	border-radius: 0 0 15px 15px;
	box-shadow:(16px 16px 10px black);
	background: #f83730;
	background: rgb(217,26,36);
	background: linear-gradient(90deg, rgba(217,26,36,1) 20%, rgba(253,1,26,1) 36%, rgba(253,1,26,1) 54%, rgba(222,18,28,1) 65%);
}
/*------------------------------СЛАЙДЕР С АКЦИЯМИ ----------------- */
.slider-banner {
	background: #f3f0f6;
}
.slider-banner > .wrapper {
	display: flex;
	align-content: center;
	justify-content: space-between;
	height: 100%;
}
.sale-title{
	font: 120px "Lifehack Sans";
}
.text-container{
	padding: 125px 0;
	font-size: 25px;
	line-height: 36px;
	max-width: 1140px;
}
.button{
	display: inline-block;
	border: 1px solid #7b8f9b;
	border-radius: 15px;
	padding: 0 23px;
	background: #ffffff;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
	color: #010101;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
	margin: 25px 0 0 0;
}
.image-container{
	margin: 50px 0 0 0;
	max-width: 970px;
	display: inline-block;
}
/*------------------------------------------------------*/
/*---------------- СПИСОК ТОВАРОВ ----------------------*/
.new-item{
	padding: 30px 10px 10px;
	overflow: hidden;
	height: 520px;
	max-width: 360px;
	float: left;
	margin: 0 25px 10px 0; 	
	border: 1px solid transparent;
	border-radius: 30px;
}
.new-item:hover{
	border-color:#f1f1f1;
	transition-duration: 0.4s;
	cursor: pointer;
	-webkit-box-shadow:0px 0px 18px 1px #e5e5e5 ;
	-moz-box-shadow:0px 0px 18px 1px #e5e5e5 ;
	box-shadow:0px 0px 18px 1px #e5e5e5 ;
}
.new-header {
	margin: 30px 0 65px;
	display: inline-block;
	font-size: 46px;
}
.new-header > a{
	color: #000000;
	text-decoration: none;
}
.item-img>img{
	display: block;
	width: 100%;
	height: 100%;
}
.fast-look{
	position: absolute;
	margin: -140px 0 0 70px;
	font-size: 18px;
	line-height: 41px;
	color: #4f4f4f;
	font-weight: bold;
	background: #eeedf1;
	border-radius: 30px;
	opacity: 0.9;
	padding: 0 25px;
	opacity: 0;
	z-index: 888;
	text-decoration: none;
}
.item-img:hover > .fast-look{
	transition-duration: 0.5s;
	opacity: 1;
}
.item-buy{
	padding-top: 50px;
}
.item-price{
	font-weight: 900;
	line-height:  38px;
	font-size: 35px;
	color: #000000;
}
.breadcrums {
	white-space: nowrap;
  	padding: 10px 0 10px;
  	overflow: hidden;
}
.breadcrums>li {
  display: inline-block;
  font-size: 18px;
}
.breadcrums li+li:before {
  padding: 4px;
  color: #808c97;
  content: "/\00a0";
}
.breadcrums li>a {
	color: #808c97;
    text-decoration: none;
}
.breadcrums li>a:hover {
	transition-duration: 0.4s;
	color: #000000;
  	text-decoration: underline;
}
.item-btn{
	margin: 30px 25% 0;
	padding: 0 35px;
	opacity: 0;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 48px;
	color: #fefefe;
	font-weight: bold;
	background: #ff0018;
	border-radius: 10px;
}
.new-item:hover .item-btn{
	transition-duration: 0.5s;
	opacity: 1;
}
/*---------------------------------------------------------*/
.banner{
	margin: 30px 0;
	overflow: hidden;
	border-radius: 30px;
	width: 100%;
	max-height: 330px;
}
/*------ ОТЗЫВЫ -----------*/
.rev-item{
	display: inline-flex;
	align-content: center;
	justify-content: space-between;
	max-width: 750px;
	margin-right: 30px;

}
.rev-icon{
	display: inline-block;
	padding: 0 30px;
	height: 165px;
	width: 165px;
	border-radius: 50%;
	overflow: hidden;
}
.rev-container{
	max-width: 525px;
	display: inline-block;
	font-size: 25px;
	line-height: 36px;
	color: #7c7c7c;
	font-style: italic;
	font-weight: 400;
}
.rev-text{
	margin-bottom: 40px;
}
/*---------------------------------------*/

/*---------------НОВОСТИ------------------*/
.news{
	display: flex;
	align-content: center;
	justify-content: space-between;
}
.news > li {
	margin-right: 30px;
}
.news > li > a{
	text-decoration: none;
}
.news-img{
	height: 340px;
	border-radius: 25px;
	overflow: hidden;
}
.news-img > img{
	height: 100%;
}
.news li:hover{
	cursor: pointer;
}
.news li:hover img{
	transform: scale(1.1);
	transition-duration: 0.5s;
}
.news li:hover  .new-header{
	transition-duration: 0.5s;
	color: #000000;
}
.news-text .new-header{
	color: #4f4f4f;
	font-size: 37px;
	margin: 20px 0;
}
.news-text p{
	max-height: 110px;
	font-size: 25px;
	line-height: 36px;
	color: #808e99;
}
/*---------------------------------------------*/
.bottom .wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin: 60px auto 20px;
}
.bottom .header-menu{
	margin-left: 200px;
}
.bottom .header-menu > li{
	display: inline-block;
  	width: 20%;
  	margin: 0 60px 0 0;
}
/*--------------------------СОЦСЕТИ------------------*/
.social{
	margin: 0 30px 0 0;
}
.social li{
	vertical-align: middle;
	display: inline-block;
	margin: 0 30px 0 0;
}
.social li > a{
	width: 33px;
	height: 33px;
	display: block;
}
.bg-whatsup {
    width: 33px; height: 33px;
    background: url('assets/img/css_sprites.png') -58px -0;
}
.bg-youtube {
    width: 33px; height: 24px;
    background: url('assets/img/css_sprites.png') -91px -0;
}
.bg-inst {
    width: 31px; height: 31px;
    background: url('assets/img/css_sprites.png') -27px -0;
}
.bg-vk {
    width: 38px; height: 22px;
    background: url('assets/img/css_sprites.png') -124px -0;
}
.bg-viber {
    width: 27px; height: 29px;
    background: url('assets/img/css_sprites.png') -0 -0;
}
/*---------------------------------------------------------*/
/*-----------------------------------------------ФУТЕР---------------*/
footer .wrapper{
	padding: 20px 0;
	background: #f0eef4;
	height: 60px;
}
.copyright{
	font-size: 20px;
	color: #808c97;
	font-family: 'LifehackBasic';
}
.copyright span{
	font-family: 'SegoeUI';
	font-weight: 300;
}
.contacts{
	margin-left: 25%;
}
.contacts a{
	color: #808e99;
	text-decoration: none;
}
.contacts li{
	display: inline-block;
	font-size: 20px;
	color: #808e99;
	font-weight: 300;
}
.contacts li:nth-child(even){
	margin: 0 60px;
}

/*------------------------------------------------------*/

/*-------------------------КАТАЛОГ-----------------*/
.breadcrumbs .wrapper{
	margin: 30px auto;
}
.sale-templates .wrapper{
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.template{
	overflow: hidden;
	padding-top: 100px;
	width: 740px;
	height: 345px;
	background: #808792;
	border-radius: 40px;
	text-align: center;
	font-size: 120px;
	color: #fffefe;
	font-family: "Lifehack Sans";
}
/*----------------------------------------------------------*/

/*----------------------КАРТОЧКА ТОВАРА-------------------------*/

.unit{
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	height: 100%;
}
.unit-article{
	font-size: 28px;
	line-height: 57px;
	color: #808c97;
	border-radius: 20px;
	border: 1px solid #7b8f9b;
	padding: 0 30px;
	display: inline-block;
}
.unit-prev{
	margin: 30px;
	width: 915px;
	height: 725px;
	border: 1px solid #f1f1f1;
	overflow: hidden;
}
.unit-info > .breadcrums {
	white-space: nowrap;
  	padding: 10px 0 10px;
  	overflow: hidden;

}
.unit-info > .breadcrums li {
  	display: inline-block;
	font-size: 42px;
}
.unit-info > .breadcrums li:before {
	  padding: 4px;
	  color: #000000;
	  content: "/\00a0";
}
.unit-info > .breadcrums li a {
	color: #000000; 	
    text-decoration: none;
}
.unit-info > .breadcrums li a:hover {
  	text-decoration: underline;
}
.unit-button{
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 30px;
	color: #000000;
	text-decoration: none;
	background: #f0eef4;
	border-radius: 15px;
	margin: 20px 0;
	display: inline-block;
}
.description{
	min-width: 1300px;
	margin: 30px 0 20px 0;
	padding: 15px 5px 35px; 
	font-size: 28px;
	line-height: 36px;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
}
.parameters {
	font-size: 26px;
	color: #000000;
}
.parameters > span:nth-child(1) {
	text-transform: uppercase;
	padding: 10px;
	margin: 0 30px 5px 0;
	display: inline-block;
	background: #f0eef4;
	width: 23%;
}
.parameters > span:nth-child(2) {
	max-width: 73%;
	display: inline-block;
	vertical-align: text-top;
}
.unit-quantity > div{
	display: inline-block;
}
.unit-quantity p{
	font-size: 26px;
	text-transform: uppercase;
}
.unit-quantity{
	margin: 30px 0 0 0;
	padding: 20px 5px 30px;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	font-size: 44px;
}
.quantity{
	width: 260px;
	margin: 15px 100px 0 0;
}
.quantity > div{
	width: 25%;
	background: #ff0018;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	float: left;
}
.quantity > div:nth-child(1){
	border-radius: 10px 0 0 10px;
}
.quantity > div:nth-child(3){
	border-radius: 0 10px 10px 0;
}
.quantity > span{
	float: left;
	width: 50%;
	background:  #f0eef4;
	text-align: center;
}
.sum div{
	margin: 25px 0 0 0;
}

.unit-info .item-btn{
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 0 50px;
	font-size: 30px;
	line-height: 57px;
	border-radius: 25px;
}

/*----------------------МЕДИА ЗАПРОСЫ--------------------*/
@media screen and (max-width: 1620px) {
	.template{
		width: 520px;
	}
}	


@media screen and (max-width: 2050px) {
	section, footer, header{
		max-width: 1980px;
		margin: 0 auto;
		}
	.wrapper{
		padding: 0 30px;
		max-width: 1800px;
		margin: 0 auto;
		}
	  /*---------------ВЕРХ----------------*/

	.nav-icon-5{
	  width: 34px;
	  height: 30px;
	  top: 20px;
	}  	
	.nav-icon-5 span:nth-child(2){
	  top:9px;
	  left: 0px;
	  opacity:1;
	}
	.top-nav .wrapper{
		padding-top: 10px;
		margin-bottom: 15px;
	}
	.header-menu > li > a{
		font-size: 15px;
		line-height: 25px;	
		}	
	.logo img{
		height: 70px;
		}	
	.top-menu{
		margin: 10px 0 0;
		}	
	.header-menu > li{
		margin: 0 0 0 15px;
		}	
	.header-menu > li > a > img{
		width: 100px;
		position: relative;
		top: 7px;
		}	
	.top-search {
		font-size: 20px;
		font-weight: 600;
		width: 270px;
		height: 40px;
		background: url(assets/img/search-bg.png) 235px  no-repeat;
		background-size: 13px;
		margin: 0;
		padding: 15px 0 15px 20px;
		}
	.geo  i {
		vertical-align: 5px;
		font-size: 23px;
		}
	.geo span{
		text-align: center;
		display: inline-block;
		margin: 0 15px;
		font-size: 14px;
		font-weight: 700;
		}	
	.language{
		font-size: 12px;
		}	
	/*----------------БАННЕР------------------*/
	.sale-title{
		font: 80px "Lifehack Sans";
		}
	.text-container{
		padding: 55px 0;
		font-size: 17px;
		line-height: 36px;
		max-width:50%;
		}
	.button{
		border-radius: 10px;
		padding: 0 23px;
		font-size: 16px;
		line-height: 30px;
		margin: 25px 0 0 0;
		}	
	.image-container{
		margin: 20px 0 0 0;
		max-width:43%;
		display: inline-block;
		}
	/*----------------------------------------*/
	/*------------------БОКОВАЯ КНОПКА---------*/	
	.side-button{
		-webkit-box-shadow:2px 5px 20px 2px #7b8f9b;
		-moz-box-shadow:2px 5px 20px 2px #7b8f9b;
		box-shadow:2px 5px 20px 2px #7b8f9b;
		top: 300px;
		padding: 0 30px;
		margin-left: -115px;
		font-size: 15px;
		line-height: 30px;
		border-radius: 0 0 15px 15px;
		box-shadow:(16px 16px 10px black);
		}
	/*--------------------------------------------*/
	/*---------------- СПИСОК ТОВАРОВ ----------------------*/
	.new-item{
		padding: 10px 10px 0 5px;
		height: 310px;
		max-width: 250px;
		margin: 0 20px 10px 0; 	
		border-radius: 15px;
		}
	.new-header {
		margin: 15px 0 30px;
		font-size: 28px;
		}
	.fast-look{
		position: absolute;
		margin: -90px 0 10px 40px;
		font-size: 10px;
		line-height: 25px;
		padding: 0 25px;
		}
	.item-buy{
		padding-top: 10px;
		}
	.item-price{
		line-height: 22px;
		font-size: 20px;
		}
	.breadcrums li {
	  font-size: 12px;
		}
	.breadcrums li+li:before {
	  padding: 1px;
		}
	.item-btn{
		margin: 0 32% 0;
		padding: 0 20px;
		font-size: 8px;
		line-height: 20px;
		border-radius: 5px;
		}
	/*---------------------------------------------------------*/
	.news > li {
		margin-right: 20px;
	}
	.news-img{
		height: 255px;
	}
	.news-text .new-header{
		color: #4f4f4f;
		font-size: 23px;
		margin: 10px 0;
	}
	.news-text p{
		max-height: 110px;
		font-size: 18px;
		line-height: 26px;
		color: #808e99;
	}
	.social li{
		transform: scale(0.9);
		margin: 7px;
	} 

	.bottom .header-menu > li {
	    margin: 0 30px 0 0;
	}
	.bottom .header-menu {
	    margin: 0 0 0 100px;
	}
	/*----------------------------ПЛАШКИ-------------------------*/
	.template{
		width: 525px;
		height: 300px;
		padding-top: 90px;
		border-radius: 40px;
		font-size: 90px;
	}
	/*----------------------КАРТОЧКА ТОВАРА-------------------------*/
	.unit-article{
		font-size: 20px;
		line-height: 47px;
		border-radius: 20px;
		padding: 0 15px;
	}
	.unit-prev{
		margin: 20px;
		width: 800px;
		height: 625px;
	}
	.unit-info > .breadcrums li {
		font-size: 26px;
	}
	.unit-button{
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 15px;
		margin: 10px 0;
	}
	.description{
		min-width: 600px;
		margin: 10px 0 15px 0;
		padding: 15px 5px 15px; 
		font-size: 18px;
		line-height: 30px;
	}
	.parameters {
		font-size: 17px;
	}
	.parameters > span:nth-child(1) {
		padding: 10px;
		margin: 0 30px 5px 0;
		width: 30%;
	}
	.parameters > span:nth-child(2) {
		max-width: 63%;
	}
	.unit-quantity p{
		font-size: 15px;
	}
	.unit-quantity{
		margin: 30px 0 0 0;
		padding: 20px 5px 30px;
		font-size: 25px;
	}
	.quantity{
		width: 200px;
		margin: 10px 100px 0 0;
	}
	.quantity > div{
		width: 20%;
	}
	.quantity > div:nth-child(1){
		border-radius: 10px 0 0 10px;
	}
	.quantity > div:nth-child(3){
		border-radius: 0 10px 10px 0;
	}
	.quantity > span{
		float: left;
		width: 40%;
		background:  #f0eef4;
		text-align: center;
	}
	.sum div{
		margin:15px 0 0 0;
	}

	.unit-info .item-btn{
		opacity: 1;
		display: inline-block;
		margin: 25px 0 0 0;
		padding: 0 30px;
		font-size: 22px;
		line-height: 37px;
		border-radius: 10px;
	}
}

@media screen and (max-width: 1600px) {
	section, footer, header{
		max-width: 1400px;
		margin: 0 auto;
		}
	.wrapper{
		padding: 0 30px;
		max-width: 1380px;
		margin: 0 auto;
		}
	  /*---------------ВЕРХ----------------*/

	.nav-icon-5{
	  width: 34px;
	  height: 30px;
	  top: 20px;
	}  	
	.nav-icon-5 span:nth-child(2){
	  top:9px;
	  left: 0px;
	  opacity:1;
	}
	.top-nav .wrapper{
		padding-top: 10px;
		margin-bottom: 15px;
	}
	.header-menu > li > a{
		font-size: 11px;
		line-height: 15px;	
		}	
	.logo img{
		height: 70px;
		}	
	.top-menu{
		margin: 10px 0 0;
		}	
	.header-menu > li{
		margin: 0 0 0 6px;
		}	
	.header-menu > li > a > img{
		width: 76px;
		position: relative;
		top: 7px;
		}	
	.top-search {
		font-size: 15px;
		font-weight: 400;
		width: 210px;
		height: 30px;
		background: url(assets/img/search-bg.png) 180px  no-repeat;
		background-size: 13px;
		margin: 0;
		padding: 15px 0 15px 20px;
		}
	.geo  i {
		vertical-align: 5px;
		font-size: 20px;
		}
	.geo span{
		text-align: center;
		display: inline-block;
		margin: 0 10px;
		font-size: 12px;
		font-weight: 700;
		}	
	.language{
		font-size: 10px;
		}	
	/*----------------БАННЕР------------------*/
	.sale-title{
		font: 70px "Lifehack Sans";
		}
	.text-container{
		padding: 55px 0;
		font-size: 15px;
		line-height: 36px;
		max-width:50%;
		}
	.button{
		border-radius: 10px;
		padding: 0 23px;
		font-size: 15px;
		line-height: 30px;
		margin: 25px 0 0 0;
		}	
	.image-container{
		margin: 20px 0 0 0;
		max-width:40%;
		display: inline-block;
		}
	/*----------------------------------------*/
	/*------------------БОКОВАЯ КНОПКА---------*/	
	.side-button{
		-webkit-box-shadow:2px 5px 20px 2px #7b8f9b;
		-moz-box-shadow:2px 5px 20px 2px #7b8f9b;
		box-shadow:2px 5px 20px 2px #7b8f9b;
		top: 300px;
		padding: 0 30px;
		margin-left: -115px;
		font-size: 15px;
		line-height: 30px;
		border-radius: 0 0 15px 15px;
		box-shadow:(16px 16px 10px black);
		}
	/*--------------------------------------------*/
	/*---------------- СПИСОК ТОВАРОВ ----------------------*/
	.new-item{
		padding: 10px 10px 0 5px;
		height: 260px;
		max-width: 195px;
		margin: 0 15px 5px 0; 	
		border-radius: 15px;
		}
	.new-header {
		margin: 15px 0 30px;
		font-size: 28px;
		}
	.fast-look{
		position: absolute;
		margin: -70px 0 10px 20px;
		font-size: 10px;
		line-height: 25px;
		padding: 0 25px;
		}
	.item-buy{
		padding-top: 10px;
		}
	.item-price{
		line-height: 22px;
		font-size: 20px;
		}
	.breadcrums li {
	  font-size: 9px;
		}
	.breadcrums li+li:before {
	  padding: 1px;
		}
	.item-btn{
		margin: 0 26% 0;
		padding: 0 20px;
		font-size: 8px;
		line-height: 20px;
		border-radius: 5px;
		}
	/*---------------------------------------------------------*/
	.news > li {
		margin-right: 20px;
	}
	.news-img{
		height: 210px;
	}
	.news-text .new-header{
		color: #4f4f4f;
		font-size: 20px;
		margin: 10px 0;
	}
	.news-text p{
		max-height: 110px;
		font-size: 15px;
		line-height: 26px;
		color: #808e99;
	}
	.social li{
		transform: scale(0.6);
		margin: 0px;
	} 

	.bottom .header-menu > li {
	    margin: 0 30px 0 0;
	}
	.bottom .header-menu {
	    margin: 0 0 0 100px;
	}
	footer .wrapper{
		height: 40px;
	}
	.copyright{
		font-size: 15px;
	}
	.contacts{
		margin-left: 25%;
	}
	.contacts li{
		font-size: 15px;
	}
	.contacts li:nth-child(even){
		margin: 0 30px;
	}
	.breadcrumbs .wrapper{
		margin: 10px auto;
	}
	/*----------------------------ПЛАШКИ-------------------------*/
	.template{
		width: 410px;
		height: 260px;
		padding-top: 75px;
		border-radius: 40px;
		font-size: 90px;
	}
	/*----------------------КАРТОЧКА ТОВАРА-------------------------*/
	.unit-article{
		font-size: 20px;
		line-height: 47px;
		border-radius: 20px;
		padding: 0 15px;
	}
	.unit-prev{
		margin: 20px;
		width: 600px;
		height: 525px;
	}
	.unit-info > .breadcrums li {
		font-size: 26px;
	}
	.unit-button{
		padding: 10px 20px;
		font-size: 20px;
		border-radius: 15px;
		margin: 10px 0;
	}
	.description{
		min-width: 600px;
		margin: 10px 0 15px 0;
		padding: 15px 5px 15px; 
		font-size: 18px;
		line-height: 30px;
	}
	.parameters {
		font-size: 17px;
	}
	.parameters > span:nth-child(1) {
		padding: 10px;
		margin: 0 30px 5px 0;
		width: 30%;
	}
	.parameters > span:nth-child(2) {
		max-width: 63%;
	}
	.unit-quantity p{
		font-size: 15px;
	}
	.unit-quantity{
		margin: 30px 0 0 0;
		padding: 20px 5px 30px;
		font-size: 25px;
	}
	.quantity{
		width: 200px;
		margin: 15px 100px 0 0;
	}
	.quantity > div{
		width: 20%;
	}
	.quantity > div:nth-child(1){
		border-radius: 10px 0 0 10px;
	}
	.quantity > div:nth-child(3){
		border-radius: 0 10px 10px 0;
	}
	.quantity > span{
		float: left;
		width: 40%;
		background:  #f0eef4;
		text-align: center;
	}
	.sum div{
		margin: 25px 0 0 0;
	}

	.unit-info .item-btn{
		opacity: 1;
		display: inline-block;
		margin: 20px 0 0 0;
		padding: 0 30px;
		font-size: 18px;
		line-height: 37px;
		border-radius: 10px;
	}

}
